<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>报警数据</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--引入需要的js-->
	<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
	<!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
	<!-- 引入自定义模块js -->
	<script type="text/javascript" src="../js/base_pagination.js"></script>
	<!-- 引入自定义service的js -->
	<script type="text/javascript" src="../js/siteService/RecordAlarmlogService.js"></script>
	<!-- 引入自定义controller的js -->
	<script type="text/javascript" src="../js/controller/baseController.js"></script>
	<script type="text/javascript" src="../js/siteController/RecordAlarmlogController.js"></script>

    <!--引入select2-->
    <link rel="stylesheet" href="../plugins/select2/select2.css" />
    <link rel="stylesheet" href="../plugins/select2/select2-bootstrap.css" />
    <script src="../plugins/select2/select2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../js/angular-select2.js"> </script>

    
</head>

<body class="hold-transition skin-red sidebar-mini"  ng-app="jismart" ng-controller="recordAlarmlogController" ng-init="findSelect()" >
  <!-- .box-body -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">参数操作</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">
 							<div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>

                            <div class="input-group" style="width:1000px;" >
                                <div style="width: 135px">
                                <select select2 ng-model="searchEntity.stationid" class="form-control" placeholder="站点">
                                    <option value="{{ item.id }}" ng-repeat="item in stationList">{{ item.text }}</option>
                                </select>
                                </div>
                                <div style="width: 135px;margin-left: 135px ">
                                <select select2 ng-model="searchEntity.deviceid" class="form-control" placeholder="设备">
                                    <option value="{{ item.id }}" ng-repeat="item in devices">{{ item.text }}</option>
                                </select>
                               </div>
                                <div style="width: 135px;margin-left: 270px ">
                                <select select2 ng-model="searchEntity.devicetypeid" class="form-control" placeholder="设备类型">
                                    <option value="{{ item.id }}" ng-repeat="item in deviceTypes">{{ item.text }}</option>
                                </select>
                                </div>
                                <div style="width: 200px;margin-left: 410px "  class="input-group">
                                    <span class="input-group-addon">事件名称</span>
                                    <input type="text" class="form-control" ng-model="searchEntity.eventname" aria-label="Amount (to the nearest dollar)">
                                </div>
                                <div style="margin-left: 615px;margin-top: -32px"  class="input-group"><button class="btn btn-default" ng-click="reloadList()" >查询</button></div>
                            </div>



                            </div>

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
										  <th class="sorting_asc">ID</th>
									      <th class="sorting">站点</th>
									      <th class="sorting">设备</th>
									      <th class="sorting">设备类型</th>
                                          <th class="sorting">通道</th>
                                          <th class="sorting">告警时间</th>
                                          <th class="sorting">告警内容</th>
                                          <th class="sorting">告警值</th>
                                          <th class="sorting">图片</th>
                                          <th class="sorting">告警事件名</th>
			                          </tr>
			                      </thead>
			                      <tbody>
									  <tr ng-repeat="entity in list">
										  <td>{{entity.id}}</td>
										  <td>{{findStationText(entity.stationid)}}</td>
										  <td>{{findDevice(entity.deviceid)}}</td>
                                          <td>{{findDeviceTypeText(entity.devicetypeid)}}</td>
                                          <td>{{findChannlText(entity.channelid)}}</td>
                                          <td>{{entity.alarmclock}}</td>
                                          <td>{{entity.alarmtext}}</td>
                                          <td>{{entity.alarmvalue}}</td>
                                          <td>{{entity.imagepath}}</td>
                                          <td>{{entity.eventname}}</td>
									  </tr>
									 
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->

							<tm-pagination conf="paginationConf"></tm-pagination>
                        </div>
                        <!-- 数据表格 /-->
                     </div>
                    <!-- /.box-body -->
<!-- 编辑窗口 -->


</body>

</html>