<!DOCTYPE html>
<html>

<head>
	<!-- 页面meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>站点信息</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--引入需要的js-->
	<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
	<!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
	<!-- 引入自定义模块js -->
	<script type="text/javascript" src="../js/base_pagination.js"></script>
	<!-- 引入自定义service的js -->
	<script type="text/javascript" src="../js/service/ConfStationService.js"></script>
	<!-- 引入自定义controller的js -->
	<script type="text/javascript" src="../js/controller/baseController.js"></script>
	<script type="text/javascript" src="../js/controller/ConfStationController.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini"  ng-app="jismart" ng-controller="stationController"  >
<!-- .box-body -->
<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">站点管理</h3>
	</div>

	<div class="box-body">

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" ng-click="stationEntity={}" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ><i class="fa fa-file-o"></i> 新建</button>

						<button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
					</div>
				</div>
			</div>

			<div class="box-tools pull-right">
				<div class="has-feedback">
					站点名称：<input ng-model="searchEntity.name" >
					<!--店铺名称： <input  >-->
					<button class="btn btn-default" ng-click="reloadList()" >查询</button>
				</div>
			</div>
			<!--工具栏/-->

			<!--数据列表-->
			<table id="dataList" class="table table-bordered table-striped table-hover dataTable">
				<thead>
				<tr>
					<!--<th class="" style="padding-right:0px">
						<input id="selall" type="checkbox" class="icheckbox_square-blue">
					</th>-->
					<th class="sorting_asc">站点ID</th>
					<th class="sorting">网关产地信息</th>
					<th class="sorting">省份</th>
					<th class="sorting">城市</th>
					<th class="sorting">详细地址</th>
					<th class="sorting">Iot设备Id </th>
					<th class="sorting">设备识别码</th>
					<th class="sorting">预置密钥</th>
					<th class="sorting">其它信息 </th>
					<th class="text-center">操作</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="entity in list">
					<!--<td><input  type="checkbox"></td>-->
					<td>{{entity.id}}</td>
					<td>{{entity.name}}</td>
					<td>{{entity.province}}</td>
					<td>{{entity.city}}</td>
					<td>{{entity.address}}</td>
					<td>{{entity.iotdevid}}</td>
					<td>{{entity.iotnodeid}}</td>
					<td>{{entity.iotverifycode}}</td>
					<td><button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#sellerModal" ng-click="findOneIot(entity.iottypeid)" >IOT信息</button>
						<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#deviceModal" ng-click="findDevice(entity.id)" >设备信息</button>

					</td>

					<td class="text-center">
						<button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findOne(entity.id)" >修改</button>
						<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" ng-click="export(entity.id)" >导出</button>
						<button type="button" class="btn btn-danger btn-xs" ng-click="delete(entity.id)"  data-toggle="modal" data-target="#delete" >删除</button>
						<!--确认删除对话框-->

					</td>
				</tr>

				</tbody>
			</table>
			<!--数据列表/-->
			<!--分页控件-->
			<tm-pagination conf="paginationConf"></tm-pagination>
		</div>
		<!-- 数据表格 /-->
	</div>
	<!-- /.box-body -->

	<!--设备信息展示-->
	<div class="modal fade" id="deviceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

				</div>
				<div class="modal-body">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#home" data-toggle="tab">设备信息</a></li>
					</ul>
					<table class="table">
						<thead>
						<tr>
							<th>设备名称</th>
							<th>Iot服务Id</th>
							<th>设备分类名称</th>
							<th>通讯模式名称</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="entity in deviList">
							<td>{{entity.confDevice.name}}</td>
							<td>{{entity.confDevice.iotcode}}</td>
							<td>{{entity.confDevicetype.name}}</td>
							<td>{{entity.confCommunicate.name}}</td>
						</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">

					<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>



	<!-- 编辑窗口 -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">站点编辑</h3>
				</div>
				<div class="modal-body">

					<table class="table table-bordered table-striped"  width="800px">
						<tr>
							<td>站点ID</td>
							<td><input  class="form-control" ng-model="stationEntity.id" placeholder="站点ID">  </td>
						</tr>
						<tr>
							<td>网关产地信息</td>
							<td><input  class="form-control" ng-model="stationEntity.name" placeholder="网关产地信息">  </td>
						</tr>
						<tr>
							<td>省份</td>
							<td><input  class="form-control" ng-model="stationEntity.province" placeholder="省份">  </td>
						</tr>
						<tr>
							<td>城市</td>
							<td><input  class="form-control" ng-model="stationEntity.city" placeholder="城市">  </td>
						</tr>

						<tr>
							<td>详细地址</td>
							<td><input  class="form-control" ng-model="stationEntity.address" placeholder="详细地址">  </td>
						</tr>

						<tr>
							<td>Iot设备Id</td>
							<td><input  class="form-control" ng-model="stationEntity.iotdevid" placeholder="Iot设备Id">  </td>
						</tr>
						<tr>
							<td>设备识别码</td>
							<td><input  class="form-control" ng-model="stationEntity.iotnodeid" placeholder="设备识别码">  </td>
						</tr>
						<tr>
							<td>预置密钥</td>
							<td><input  class="form-control" ng-model="stationEntity.iotverifycode" placeholder="预置密钥">  </td>
						</tr>
						<tr>
							<td>Iot产品信息编号</td>
							<td><input  class="form-control" ng-model="stationEntity.iottypeid" placeholder="Iot产品信息编号">  </td>
							<input ng-model="stationEntity.status" hidden="hidden" />
						</tr>
					</table>

				</div>
				<div class="modal-footer">
					<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
					<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 商家详情 -->
	<div class="modal fade" id="sellerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

				</div>
				<div class="modal-body">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#home" data-toggle="tab">IOT设备产品模型信息</a></li>

					</ul>

					<!-- 选项卡开始 -->
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane active in" id="home">
							<br>
							<table class="table table-bordered table-striped"  width="800px">
								<tr>
									<td>ID</td>
									<td>{{IotEntity.id}}</td>
								</tr>
								<tr>
									<td>厂商Id</td>
									<td>{{IotEntity.firmid}}</td>
								</tr>
								<tr>
									<td>厂商名称</td>
									<td>{{IotEntity.firmname}}</td>
								</tr>
								<tr>
									<td>产品名称</td>
									<td>{{IotEntity.productname}}</td>
								</tr>
								<tr>
									<td>产品Id</td>
									<td>{{IotEntity.productid}}</td>
								</tr>
								<tr>
									<td>产品协议类型</td>
									<td>{{IotEntity.protocol}}</td>
								</tr>
								<tr>
									<td>产品类型</td>
									<td>{{IotEntity.type}}</td>
								</tr>
								<tr>
									<td>型号</td>
									<td>{{IotEntity.typeno}}</td>
								</tr>
							</table>
						</div>
						<!-- 选项卡结束 -->


				</div>
				<div class="modal-footer">

					<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>



</body>

</html>