<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管道类型</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--引入需要的js-->
	<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
	<!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
	<!-- 引入自定义模块js -->
	<script type="text/javascript" src="../js/base_pagination.js"></script>
	<!-- 引入自定义service的js -->
	<script type="text/javascript" src="../js/service/ConfChannelTypeService.js"></script>
	<!-- 引入自定义controller的js -->
	<script type="text/javascript" src="../js/controller/baseController.js"></script>
	<script type="text/javascript" src="../js/controller/ConfChannelTypeController.js"></script>

	<!--引入select2-->
	<link rel="stylesheet" href="../plugins/select2/select2.css" />
	<link rel="stylesheet" href="../plugins/select2/select2-bootstrap.css" />
	<script src="../plugins/select2/select2.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="../js/angular-select2.js"> </script>
    
</head>

<body class="hold-transition skin-red sidebar-mini"  ng-app="jismart" ng-controller="channelTypeController" ng-init="findSelect()">
  <!-- .box-body -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">管道类型</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">
 							<div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button  ng-click="channlEntity={}" type="button"  class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ><i class="fa fa-file-o"></i> 新建</button>
                         
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
										  <th class="sorting_asc">索引编号</th>
									      <th class="sorting">设备类型</th>
									      <th class="sorting">通道编号</th>
									      <th class="sorting">通道类型</th>
									      <th class="sorting">通道名</th>
									      <th class="sorting">数据类型</th>	
									      <th class="sorting">通道识别码</th>		
									      <th class="sorting">单位</th>
										  <th class="sorting">最大值</th>
										  <th class="sorting">最小值</th>
										  <th class="sorting">是否必选</th>
										  <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
									  <tr ng-repeat="entity in list">
										  <td>{{entity.id}}</td>
										  <td><!--{{entity.devicetypeid}}-->
											  {{findDeviceTypeText(entity.devicetypeid)}}
										  </td>
										  <td>{{entity.channelid}}</td>
										  <td>
											  <p ng-if="entity.channeltype == 1">遥测</p>
											  <p ng-if="entity.channeltype == 2">遥信</p>
											  <p ng-if="entity.channeltype == 3">遥调</p>
											  <p ng-if="entity.channeltype == 4">遥控</p>
										  </td>
										  <td>{{entity.channelname}}</td>
										  <td>
											  <p ng-if="entity.datatype == 1">float</p>
											  <p ng-if="entity.datatype == 2">int</p>
											  <p ng-if="entity.datatype == 3">String</p>
										  </td>
										  <td>{{entity.iotchlcode}}</td>
										  <td>{{entity.unit}}</td>
										  <td>{{entity.max}}</td>
										  <td>{{entity.min}}</td>
										  <td>
											  <p ng-if="entity.required == 1">true</p>
											  <p ng-if="entity.required == 2">false</p>
										  </td>
										  <td class="text-center">
											  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findOne(entity.id)" >修改</button>
											  <button type="button" class="btn btn-danger btn-xs"  data-toggle="modal" data-target="#delete" ng-click="delete(entity.id)" >删除</button>
											  <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#deviceTypeModal" ng-click="findDevcieTypeByid(entity.devicetypeid)" >设备类型信息</button>
										  </td>
									  </tr>
									 
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->

							<tm-pagination conf="paginationConf"></tm-pagination>
                        </div>
                        <!-- 数据表格 /-->
                     </div>
                    <!-- /.box-body -->
                    
	          
					    
                                
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">管道类型数据保存</h3>
		</div>
		<div class="modal-body">							
			
			<table class="table table-bordered table-striped"  width="800px">
		      	<tr>
		      		<td>通道编号</td>
		      		<td>
						<input  class="form-control" placeholder="通道编号" ng-model="channlEntity.id"  ng-if="channlEntity.status==1" readonly="readonly" > <!--为1则为修改,不可修改id-->
						<input  class="form-control" placeholder="通道编号" ng-model="channlEntity.id"  ng-if="channlEntity.status!=1" >
					</td>
		      	</tr>
		      	<tr>
		      		<td>设备类型</td>
		      		<td><!--<input  class="form-control" placeholder="设备类型 "  ng-model="channlEntity.devicetypeid">-->
						<select select2 ng-model="channlEntity.devicetypeid" class="form-control" placeholder="设备类型">
							<option value="{{ item.id }}" ng-repeat="item in deviceTypes">{{ item.text }}</option>
						</select>
					</td>
		      	</tr>	
			    <tr>
		      		<td>通道编号</td>
		      		<td><input  class="form-control" placeholder="通道编号" ng-model="channlEntity.channelid">  </td>
		      	</tr>		      
		       	 <tr>
		      		<td>通道类型</td>
		      		<td><!--<input  class="form-control" placeholder="通道类型" ng-model="channlEntity.channeltype">-->
						<select select2 ng-model="channlEntity.channeltype" class="form-control" placeholder="通道类型">
							<option value="{{ item.id }}" ng-repeat="item in channeltypes">{{ item.text }}</option>
						</select>
					</td>
		      	</tr>		      
		       	
		       	 <tr>
		      		<td>通道名</td>
		      		<td><input  class="form-control" placeholder="通道名" ng-model="channlEntity.channelname">  </td>
		      	</tr>		      
		       	
		       	 <tr>
		      		<td>数据类型</td>
		      		<td><!--<input  class="form-control" placeholder="数据类型" ng-model="channlEntity.datatype">-->
						<select select2 ng-model="channlEntity.datatype" class="form-control" placeholder="数据类型">
							<option value="{{ item.id }}" ng-repeat="item in datatypes">{{ item.text }}</option>
						</select>
					</td>
		      	</tr>		      
		       	 <tr>
		      		<td>通道识别码</td>
		      		<td><input  class="form-control" placeholder="通道识别码" ng-model="channlEntity.iotchlcode">  </td>
		      	</tr>		      
		       	 <tr>
		      		<td>单位</td>
		      		<td><input  class="form-control" placeholder="单位" ng-model="channlEntity.unit">  </td>
		      	</tr>
				<tr>
					<td>最小值</td>
					<td><input  class="form-control" placeholder="最小值" ng-model="channlEntity.min">  </td>
				</tr>
				<tr>
					<td>最大值</td>
					<td><input  class="form-control" placeholder="最大值" ng-model="channlEntity.max">  </td>
				</tr>
				<tr>
					<td>是否必选</td>
					<td><!--<input  class="form-control" placeholder="指示本条属性是否必选" ng-model="channlEntity.required">-->
						<select select2 ng-model="channlEntity.required" class="form-control" placeholder="指示本条属性是否必选">
							<option value="{{ item.id }}" ng-repeat="item in requireds">{{ item.text }}</option>
						</select>
					</td>
				</tr>
			</table>
			
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
					
           <!-- 选项卡结束 -->          
		</div>
		
	  </div>
	</div>
</div>

  <div class="modal fade" id="deviceTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" >
		  <div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

			  </div>
			  <div class="modal-body">

				  <ul class="nav nav-tabs">
					  <li class="active"><a href="#home" data-toggle="tab">设备类型信息</a></li>
				  </ul>
				  <table class="table">
					  <thead>
					  <tr>
						  <th>类型编号</th>
						  <th>类型名</th>
						  <th>类型识别码</th>
						  <th>指令发送时间间隔</th>
						  <th>厂家</th>
					  </tr>
					  </thead>
					  <tbody>
					  <tr>
						  <td>{{devcieTypeEntity.id}}</td>
						  <td>{{devcieTypeEntity.name}}</td>
						  <td>{{devcieTypeEntity.typecode}}</td>
						  <td>{{devcieTypeEntity.intervals}} （单位：毫秒） </td>
						  <td>{{devcieTypeEntity.company}}</td>
					  </tr>
					  </tbody>
				  </table>
			  </div>
			  <div class="modal-footer">

				  <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			  </div>
		  </div>
	  </div>
  </div>


</body>

</html>